.container_success{

    margin-top: 7rem;
}
.success_heading{
    // margin-left: auto;
    // margin-right:auto;
    // justify-items: center;
    color:var(--title-color);
    font-weight:bolder;
    font-size:35px;
    text-align: center;


}

.success__img{
    width:400px;
    display:block;
    
    margin-left: auto;
    margin-right:auto;
}
.success-button{
    text-align: center;
    

}
